*.class

# Package Files #
*.jar
*.war
*.ear
/nbproject/private/
/bin/
./idea
.gradle
.settings
out
build
eclipse
gradle
ulmcModPack.iml
.classpath
.project
CREDITS-fml.txt
forge-1.7.2-10.12.2.1121-changelog.txt
forge-1.7.10-10.13.0.1180-changelog.txt
gradlew
gradlew.bat
LICENSE.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
src.rar
